body {
  font-family: sans-serif;
  background: #111;
  color: white;
  text-align: center;
}
iframe {
  width: 95%;
  height: 500px;
  margin-top: 10px;
  border: 2px solid white;
}
input {
  width: 300px;
  padding: 8px;
}
